.descrição {
    background-color: var(--branco);
}

.descrição__titulo__empresa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0 0.5em 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--branco);
    border-bottom: 3px solid var(--branco)
}

.descrição__texto__empresa {
    padding: 0 1em 1em 1em;
    text-align: justify;
}