.card__contato {
    width: 60%;
}

.card__map {
    max-width: 50%;
}

.descrição__contato {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-content: center;
}

.descrição__titulo__contato {
    font-size: 24px;
}

.descrição__texto__contato {
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 100%;
        margin: 2em auto;
    }

    .card__descrição {
        display: flex;
        flex-direction: column;
    }

    .card__map {
        width: auto;
        height: auto;
    }
}