.rodape {
    background-color: var(--branco);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__titulo {
    color: var(--cinza);
    font-weight: 500;
    padding-bottom: 1em;
}

.rodape__texto {
    font-size: 12px;
    font-weight: 500;
    color: var(--cinza);
    padding: 0 0.5em 0 0.5em;
    border-left: 1px solid var(--cinza);
    border-right: 1px solid var(--cinza);
}